.navigation__burgerButton {
  position: relative;
  width: 50px;
  height: 50px;
  background-color:#181818;
  border-radius: 50px;
  display: block;
  outline: none;
  border: none;
  margin-right: 15px;
  margin-top: 25px;
  cursor: pointer;
}

.navigation__burgerButton:hover span,
.navigation__burgerButton:hover span::after,
.navigation__burgerButton:hover span::before {
  background-color: #8599ff;
}

.navigation__burgerButton span,
.navigation__burgerButton span::before,
.navigation__burgerButton span::after {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin-top: -1px;
  margin-left: -15px;
  transition: 0.5s;
}

.navigation__burgerButton span::before,
.navigation__burgerButton span::after {
  content: '';
}

.navigation__burgerButton span::before {
  transform: translateY(-10px);
}

.navigation__burgerButton span::after {
  transform: translateY(10px);
}

.navigation__burgerButton_active span::before {
  transform: rotate(45deg);
}

.navigation__burgerButton_active span::after {
  transform: rotate(-45deg);
}

.navigation__burgerButton_active span,
.navigation__burgerButton_active:hover span {
  background-color: #181818;
}

@media only screen and (min-width: 530px) {
  .navigation__burgerButton {
    display: none;
  }
}

.navigation__navigationList_active {
  margin-left: 0;
}